@use './themes-vars.module.scss' as themeVars;

:root {
  --toastify-color-light: #F5F5FF !important;
  --toastify-color-dark: #1A284E !important;
  --toastify-color-info: #82C7FF !important;
  --toastify-color-success: #00a152 !important;
  --toastify-color-warning: #ffc107 !important;
  --toastify-color-error: #f44336 !important;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
}

* {
  box-sizing: border-box;
  transition: background 250ms ease-in-out, color 125ms ease-out;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.Toastify__toast-theme {

  &--dark {
    background: themeVars.$darkPaper;
    color: themeVars.$darkTextPrimary;
  }

  &--light {
      background: themeVars.$paper;
      color: themeVars.$textPrimary;
  }

}